.blog{
    width: 100%;
    padding: 25px 0px;
}

.title3 h3{
    color: rgb(105, 101, 101);
    font-size: 34px;
    width: 780px;
    margin: auto;
    text-align: center;
}

.title3 p{
    color: rgb(151, 150, 150);
    padding-top: 10px;
    margin: auto;
    text-align: center;
}

/* brands */

.brands {
    margin: 100px auto;
  }
  .small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 80px;
    padding-right: 80px;
  
  }
  .col-5 {
    width: 160px;
  }
  .col-5 img {
    width: 100%;
    cursor: pointer;
  }