.navbar{
    width: 100%;
    height: auto;
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background: transparent;
    position:absolute;
    top: 0;
    transition: ease-in-out .4s;
    z-index: 999;
    
}

ul{

    margin: 0;
    list-style-type: none;
    padding-left: 100%;
}

.logo span{
    font-size: 3rem;
    font-weight: 700;
    color: var(--white);
    letter-spacing: 2px;
    color: rgb(49, 37, 206);
    align-items: right;
    padding-left: 160px;
   
    margin-top: 10px;
}

.logo p{
    font-size: 3rem;
   
    color: var(--white);
    letter-spacing: 2px;
    color: gray;
}

.nav-items ul{
    height: 100%;
    width: 100%;
    padding-right: -30px;
    display: flex;
    gap: 1rem;
    color: white;
}

ul li{
    font-size: 2rem;
    font-weight: 500;
    cursor:pointer;
    transition: all .2s;
}

ul li:hover{
    color: var(--orange);
}

.right button{
    width: 10rem;
    height: 3rem;
    background-color: orange;
    color: white;
    font-weight: 600;
    border-radius: 4rem;
    transition: all .4s;
}

.right button:hover{
    background: var(--purple);
    color: var(--white);
}