.navbar{
    width: 100%;
    height: auto;
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    position: fixed;
    top: 0;
    transition: ease-in-out .4s;
    z-index: 999;
}

ul{
    margin: 0;
    list-style-type: none;
    padding-left: 100%;
}

.logo span{
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--white);
    letter-spacing: 2px;
    color: blue;
}

.logo p{
    font-size: 1.6rem;
    color: var(--white);
    letter-spacing: 2px;
    color: gray;
}

.nav-items ul{
    height: 100%;;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    color: var(--white);
}

ul li{
    font-size: 1.1rem;
    font-weight: 500;
    cursor:pointer;
    transition: all .2s;
}

ul li:hover{
    color: var(--orange);
}

.right button{
    width: 8rem;
    height: 2.4rem;
    background-color: orange;
    color: var(--white);
    font-weight: 500;
    border-radius: 3rem;
    transition: all .4s;
}

.right button:hover{
    background: var(--purple);
    color: var(--white);
}